@import 'rc-slider/assets/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fff;
	--text: #171717;
}

body {
	color: var(--text);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.filters {
	.filter {
		@apply border-b border-gray-300 py-5;

		.filter__title {
			@apply font-semibold;
			@apply mb-1;
		}
	}
}
